# Интерфейс
git+https://github.com/asukaa2/gradio1

# Основные ML-фреймворки
numpy>=1.26.4
# torch
# torchaudio
# torchvision

# Аудиообработка
PolFlashSR
PolUVR[gpu]; sys_platform == 'linux' or sys_platform == 'win32'
PolUVR[cpu]; sys_platform == 'darwin'
edge-tts==7.2.7
ffmpeg-python>=0.2.0

# Отслеживание высоты тона
torchfcpe
torchcrepe

# Вспомогательные утилиты и библиотеки
wget
tqdm
gdown
mega-x
requests
omegaconf
faiss-cpu
tensorboardX
